* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Inter", sans-serif;
}

header {
  border: 1px solid red;
  height: 152px;
  background-color: #ff3b3c;
  padding: 10px 50px 50px 20px;
}

.search {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.search .form {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.search .form input {
  height: 62px;
  border-radius: 14px;
  border: none;
  width: 505px;
  padding: 20px;
  box-sizing: border-box;
}

.search .social ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.search .social ul li {
  padding: 0 10px;
}

.nav {
  padding: 10px 0;
}
.nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav ul li a {
  color: white;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}
.nav ul li a:hover {
  text-decoration: underline;
}

section {
  height: 340px;
}

/* MENU PRINCIPAL */

main {
  height: auto;
  padding: 50px;
}

main .columns-container {
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0px 50px;
}

.product-images-block,
.product-description-block,
.product-checkout-block {
  margin: 0px 10px;
  flex: 1;
}

.product-images-block {
  display: grid;
  grid-template-columns: 1fr 5fr;
  max-width: 100%;
  overflow: hidden;
  gap: 10px;
}

.product-images-block .thumbnail-container img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center center;
}

.product-images-block .main-image {
  width: 100%;
  grid-row: 1/5;
  grid-column: 2/5;
}

.product-description-block .titulo {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  word-wrap: break-word;
  margin-bottom: 20px;
}

.product-description-block .selector fieldset {
  border: 2px #919191 solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  border-radius: 15px;
  font-size: 15px;
  margin-bottom: 20px;
}

.product-description-block .selector fieldset label {
  margin-left: 10px;
}

.product-description-block .selector fieldset select {
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.product-description-block .description p {
  color: #646464;
  font-size: 16px;
  font-weight: lighter;
  word-wrap: break-word;
  margin-top: 20px;
}

.checkout-container {
  background-color: #ebebeb;
  padding: 33px;
  border-radius: 2px;
}

.checkout-total-label {
  color: #ff3b3c;
}

.checkout-total-price {
  font-size: 28px;
  font-weight: 700;
  margin-top: 10px;
}

.checkout-description {
  line-height: 20px;
  word-wrap: break-word;
}

.checkout-policy-list {
  list-style-type: none;
  margin-bottom: 30px;
}

.checkout-policy-list li {
  display: flex;
  margin: 15px 0;
}

.checkout-policy-list li .policy-icon {
  margin-right: 15px;
}

.checkout-process .top {
  display: flex;
  margin-bottom: 10px;
}

.checkout-process .top input {
  height: 40px;
  border-radius: 10px;
  border: none;
  width: 62px;
  margin-right: 10px;
  padding: 0 10px 0 20px;
  box-sizing: border-box;
}

.btn-primary {
  width: 100%;
  background: #ff3b3c;
  color: white;
  font-weight: bold;
  border: none;
  height: 40px;
  border-radius: 10px;
}

.btn-outline {
  width: 100%;
  border: 1px solid #ff3b3c;
  color: #ff3b3c;
  font-weight: bold;
  height: 40px;
  border-radius: 10px;
}

.sales-block {
  margin-top: 50px;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 6fr;
  grid-gap: 50px;
}

.sales-block a {
  text-decoration: none;
  color: initial;
}

.sales-block h2 {
  grid-row: 1;
  grid-column: 1/4;
  justify-self: center;
  text-align: center;
  font-size: 40px;
}

.product-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center center;
  border-radius: 14px;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 50px;
}

.product-card {
  background-color: #f0f0f0;
  border-radius: 14px;
  width: auto;
  overflow: hidden;
}

.product-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.product-price-block {
  display: flex;
  margin: 5px 0;
  justify-content: space-around;
  align-items: center;
}

.product-price-block .price {
  font-size: 22px;
  font-weight: 700;
  flex: 1;
}

.product-price-block .discount {
  font-size: 12px;
  font-weight: 700;
  color: #428f13;
}

/* --------------------------- FOOTER -------------------------------- */

footer {
  background-color: #7525a7;
}

footer .container {
  display: flex;
  flex-direction: column;
}

footer .columns-container {
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.columns-container .col ul {
  list-style-type: none;
  padding: 0;
}

.columns-container .col ul li {
  padding: 5px 0;
}

.columns-container .col ul li.col-main-item {
  font-weight: bold;
  padding-bottom: 20px;
}

.columns-container .col ul li a {
  color: white;
  text-decoration: none;
}

.copyright {
  border-top: 1px solid #ba53fb;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 30px 0;
  box-sizing: border-box;
}

/* vista de tablet */

@media (max-width: 828px) {
  .search .form input {
    width: 300px;
  }

  .container {
    width: 100%;
  }

  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }

  footer .container {
    width: 500px;
  }

  .sales-block {
    grid-template-columns: 1fr 1fr;
  }

  .sales-block h2 {
    font-size: 20px;
    grid-column: 1/3;
  }

  .product-images-block {
    grid-template-rows: 20px 1fr;
  }

  .product-checkout-block {
    flex: 0;
    max-width: 100%;
  }
}

/* Vista de telefono */

@media (max-width: 425px) {
  .logo img {
    width: 131px;
  }

  .search .form input {
    width: 100px;
  }

  .sales-block {
    grid-template-columns: 1fr;
    grid-gap: 25px;
    padding: 0;
  }

  .sales-block h2 {
    font-size: 16px;
    grid-column: 1;
  }

  footer .container {
    width: 230px;
  }
}
